
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.main-menu {
    ul {
      li {
        margin-right: 40px;
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
    &__top {
      margin-bottom: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #111111;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s {
    
    &-creat {
      &__quiz {
        display: block;
        &__title {
          text-align: center;
          margin-bottom: 10px;
        }
        .button {
          margin: 0 auto;
          display: block;
        }
      }
    }

    &-comand {
      .comand {
        display: block;
        margin-bottom: 25px;
        &__img {
          margin: 0 auto 10px;
        }
        &__block {
          margin-bottom: 15px;
        }
        &__name {
          text-align: center;
        }
        &__summary {
          text-align: center;
        }
        .button {
          margin: 0 auto;
          display: block;
        }
      }
      &__img {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s {
    &-main {
      
    }

    &-work {
      .video__container--first {
        margin-bottom: 30px;
      }
    }

    &-creat {
      &__content {
        display: none;        
      }
      .carousel-creat {
        display: block;
        margin-bottom: 20px;
      }
      &__quiz {
        &__title {
          font-size: 16px;
        }
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .header {
    &__title {
      display: none;
    }
  }

  .video {
    &__title {
      position: static;
      width: 100%;
      height: 30px;
    }
  }

  .s {
    &-main {
      &__title {
        font-size: 27px;
        margin-bottom: 50px;
      }
    }

    &-comand {
      &__img {
        // flex-wrap: nowrap;
        img {
          // width: 50%;
          width: 130px;
          height: 100%;
        }
      }
    }

    &-thanks {
      padding: 150px 0 50px;
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}