@import './base';


.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.video {
  &__container {
    position: relative;
  }
  &__label {
    position: relative;
    
    video {
      width: 100%;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  &__play {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url('../img/play.png');
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 294px;
    height: 54px;
    background-color: rgba($accent, 0.8); 
    z-index: 10;
    font-size: 16px;
    font-weight: 300;
  }

  &__preview {
    display: inline-block;
    cursor: pointer;

    &.active {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, 0.5);
      }
    }
    
  }
}

.srok {
  display: flex;
  max-width: 380px;
  align-items: center;
  margin: 10px auto 0;
  font-family: Montserrat, serif;
  &__title {
    color: #fff;
    margin-right: 15px;
  }
  .timer-flipchart-inner {
    font-family: Montserrat, serif;
    font-weight: bold;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: 10px 0;
  background-color: rgba(#111111, 0.6);

  &--scrolled {
    background-color: rgba(#111111, 1);  
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-end;
  }

  .logo {
    margin-right: 30px;
  }

  &__grafik {
    margin-right: 85px;
  }

  &__phone {
    margin-right: 40px;
  }

  &__title {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    max-width: 100px;
  }
}

.footer {
  background-color: $black;
  font-size: 14px;

  .logo {
    margin-right: 60px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-right: 37px;
    a {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__login {
    margin-right: 25px;
  }

  &__phone {
    margin-right: 15px;
  }

  &__comand {
    margin-left: 40px;

    a {
      margin-top: 3px;
      display: block;
    }
  }  
  
  &__politika {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 15px;
    a {
      color: $accent;
      text-decoration: underline;
    }
  }
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 65px;
    
    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    font-weight: normal;
    border-left: 3px solid transparent;
    padding-left: 7px;
    position: relative;

    &.link {
      &:hover, &.active {
        // background-image: url("../img/line.jpg");
        // background-repeat: no-repeat;
        border-left: 3px solid $accent;
        color: #a1a1a1;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &-title {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    margin: 0 auto 40px;
    position: relative;
    padding-left: 32px;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 30px;
      background: $accent;
      left: 0;
      top: 3px;
    }

    .inverse & {
      color: #fff;
    }
  }
}


.s-main {
  padding-top: 150px;
  background-image: url('../img/main-back.jpg');

  &__title {
    font-size: 36px;
    font-family: Montserrat, serif;
    margin: 0 auto 155px;
    color: #fff;
    font-weight: normal;
    max-width: 940px;
    text-align: center;
  }
}

.s-work {

  .carousel-work {
    margin-top: 20px;

    .owl {
      &-prev, &-next {
        position: absolute;
        top: 0;
        background-color: $accent !important;
        background-size: auto !important;
        height: 100%;
      }

      &-prev {
        left: 0;
        background-image: url('../img/prev.png') !important;
      }

      &-next {
        right: 0;
        background-image: url('../img/next.png') !important;
      }
    }
  }


}

.s-creat {
  background-image: url("../img/create-back.jpg");

  .carousel-creat {
    display: none;
  }

  .creat {
    width: 164px;
    height: 92px;
    border: 1px solid $accent;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;

    &__title {
      font-family: Montserrat, serif;
      color: #fff;
      text-align: center;
    }

    .button {
      font-size: 12px;
      padding: 7px 6px;
      text-align: center;
      position: absolute;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);

      &:active {
        top: auto;
      }
    }

    &:hover {
      background-color: $accent;
      .creat__title {
        color: #000;
      }
      .button {
        background-color: #fff;
        color: #000 !important;
      }
    }
  }

  &__quiz {
    background-color: rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-color: rgba(255,255,255,.7);
      top: 0;
      right: 100%;
      bottom: 0;
      left: -1000px;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: rgba(255,255,255,.7);
      top: 0;
      left: 100%;
      bottom: 0;
      right: -1000px;
    }    
    
    &__title {
      font-size: 18px;
      font-weight: 500;
      margin-right: 20px;
    }
    .button {
      box-shadow: 2.5px 4.33px 8.73px 0.27px rgba(33, 30, 27, 0.85);
      width: 185px;
      font-size: 12px;
    }
  }
}

.s-comand {

  &__text {
    margin-bottom: 18px;
  }

  &__img {
    display: flex;
    margin-top: 20px;
  }

  .comand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &__img {
      width: 164px;
      height: 103px;
      flex-shrink: 0;
    }

    &__block {
      max-width: 455px;
    }

    &__name {
      font-weight: 500;
      margin-bottom: 5px;
    }

    &__summary {
      font-style: italic;
      font-size: 12px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 12px;
    }

    .button {
      font-size: 12px;
      padding: 10px;
      width: 185px !important;
    }

    &__2 {
      margin-bottom: 20px;
      .button {
        margin: 10px auto 0;
        display: block;
      }
    }

    &__header {
      display: flex;
      margin-bottom: 10px;
      .comand__img {
        margin-right: 15px;
      }
    }
  }
}

.s-reviews {
  background: #dfdfdf;

  .review {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;

    img {
      margin-right: 25px;
      flex-shrink: 0;
    }

    &__content {
      max-width: 455px;
      margin-right: 80px;
    }

    &__name {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 15px;
    }

    &__summary {
      font-style: italic;
      margin-bottom: 15px;
    }
  }
}

.s-events {
  .carousel-events {
    display: none;
    .event {
      width: 80%;
    }
  }

  &__title {
    font-size: 18px;
    margin-bottom: 25px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .event {
    display: flex;
    align-items: center;
    width: 48%;
    margin-bottom: 30px;

    &__img {
      margin-right: 30px;
      flex-shrink: 0;
      width: 260px;
      height: 190px;
      background-color: $accent;
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
}

.s-clients {
  background-image: url("../img/clients-back.jpg");

  .carousel-clients {
    display: none;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .client {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
}

.s-results {
  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.s-thanks {
  padding: 200px 0 100px 0;
  flex-grow: 1;
  background-image: url("../img/thanks-back.jpg");
    
  &__title {
    font-family: Montserrat, serif;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
  }

  &__text {
    font-family: Montserrat, serif;
    text-align: center;
    font-size: 24px;
    line-height: 2;
    margin: 0 0 125px;
  }

  &__link {
    text-decoration: underline;
    color: $accent !important;
    font-family: Montserrat, serif;
    font-size: 16px;
  }
}

.question {
  max-width: 360px;
  min-height: 300px;
  background-color: #282828;

  &__num {
    font-size: 18px;
    font-family: Montserrat, serif;
    color: #fff;
    margin-bottom: 13px;
    padding-left: 5px;
    border-left: 2px solid $accent;
  }

  &__text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
  }

  &__label {
    flex-grow: 1;
  }
  .checkbox {
    color: #fff;
    display: block;
    margin-bottom: 10px;
  }

  .perehod {
    color: $accent;
    font-style: italic;
    text-align: right;
    display: block;
    text-decoration: underline;
    margin-top: 20px;
  }
}

.more {
  max-width: 944px;
  box-shadow: 2.5px 4.33px 8.73px 0.27px rgba(33, 30, 27, 0.85);

  &__header {
    display: flex;
    align-items: flex-start;
    padding: 18px 40px;
    background-color: $accent;
    margin: 0 -35px 15px;    
    img {
      margin-right: 40px;
    }
  }
  
  &__name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__summary {
    font-size: 18px;
    font-style: italic;
  }

  &__title {
    font-family: Montserrat, serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 500;
    margin-bottom: 15px;
    span {
      color: $accent;
    }
  }
}

.politika {
  max-width: 945px;
  background-color: $accent;
  &__title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 500;
    margin-bottom: 15px;
    span {
      color: #fff;
    }
  }
}

.rolik {
  max-width: 750px;
  &__content {
    display: flex;
  }
  &__block {
    max-width: 488px;
    padding-right: 50px;
  }
  &__title {
    font-size: 24px;
    font-family: Montserrat, serif;
    margin-bottom: 20px;
    border-left: 2px solid $accent;
    padding-left: 5px;
    font-weight: normal;
  }
  &__text {
    margin-bottom: 20px;
  }
  ul {
    margin: 0 0 20px 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  &__sum, &__minut {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
    }
  }
  &__sum {
    &::before {
      background-image: url("../img/price-tag.png");
    }
  }
  &__minut {
    &::before {
      background-image: url("../img/time.png");
    }
  }
  &__result {
    font-size: 12px;
    font-style: italic;
  }
  .form {
    width: 262px;
    background-image: url("../img/modal-ornament.jpg");
    background-position: center center;
    margin: -35px;
    padding: 70px 18px;

    &__vopros {
      font-size: 15px;
      letter-spacing: -1px;
      color: #fff;
      text-align: center;
      margin-bottom: 35px;
    }

    &__title {
      font-size: 16px;
      font-family: HelveticaNeueCyr, serif;
      color: #fff;
    }

    &__info {
      text-align: center;
    }
  }
}



@import './_media';